#navbar {
	display: block;
	margin-bottom: 20px;
}

#navbar ul {
	height: auto;
	padding: 0px 0px;
	margin: 0px;
}

#navbar li {
	display: inline;
	padding: 20px;
}

.center {
	text-align: center;
}

.searchform p {
	margin: 0 0 0 0;
	padding: 8px 0 0 0;
}

#advanced_search form {
	width: 1200px;
	margin: 20px 0 0 0;
}

#advanced_search label, input {
	display: inline-block;
}

#advanced_search label {
	width: 120px;
	text-align: right;
}

#advanced_search input + label {
	text-align: left;
	margin: 0 0 0 20px;
}

#pageindex {
	text-align: center;
}

#pageindex ul {
	display: inline;
	list-style: none;
}

#pageindex li {
	display: inline;
}

table.pastorder {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}


th.pastorderisbn, th.pastordertitle, th.pastorderyear, td.pastorder, th.pastorderpublisher, th.pastorderprice,th.pastordernumber, th.pastordersum, th.pastorderaction {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

th.pastorderisbn {
	width: 10%;
}

th.pastordertitle {
	width: 35%;	
}

th.pastorderyear {
	width: 5%;
}

th.pastorderpublisher {
	width: 20%;
}

th.pastorderprice {
	width: 5%;
}

th.pastordernumber {
	width: 5%;
}

th.pastordersum {
	width: 5%;
}

th.pastorderaction {
	width: 15%;
}

table.orderinfo {
	border: 0px;
	border-collapse: collapse;
}

td.orderinfocaption, td.orderinfocontent, table.orderinfo {
	vertical-align: top;
	word-wrap: break-word;
}

td.orderinfocaption {
	font-weight: bold;
	text-align: right;
	width: 20%;
}

td.orderinfocontent {
	padding-left: 5%;
	text-align: left;
	width: 65%;
}

